{% extends 'base.html' %}
{% block contents %}
  {% for lion in posts %}
      <div class = "container">
      <br>
      <br><br>
      <h1> 제목: {{lion.title}}</h1>
      <p> 날짜: {{lion.pub_date}}</p>
      <p> 본문 미리보기: {{lion.summary}} <a href = "{%url 'detail' lion.id %}"> ... more </a> </p>
      <br><br>
      </div>
  {% endfor %}

<div class = "container">
{%if posts.has_previous%}
<a href="?page=1">First</a>
<a href="?page={{posts.previous_page_number}}">Previous</a>
{%endif%}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{%if posts.has_next%}
<a href="?page={{posts.next_page_number }}">Next</a>
<a href="?page={{posts.paginator.num_pages }}">Last</a>
{%endif%}
</div>
{% endblock %}

